@import 'variables';

header {
  background-color: $header;
  position: fixed;
  width: 100%;
  height: 40px;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1000;
  .app-name {
      padding: 8px 0 0 0;
      h1 {
          padding-left: 4%;
          margin: 0;
          font-size: 2.4rem;
          span {
              cursor: pointer;
          }
      }
  }
}


